{# -*- engine:django -*- #}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ title }} - Wayland protocol docs{% endblock %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block head %} {% endblock %}
  </head>
  <body class="bg-near-white black-70 sans-serif pa2 ph6-l">

    {% include "breadcrumbs.html" %}

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <script src="/bundle.js"></script>
  </body>
</html>
