{# -*- engine:django -*- #}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ title }} - Wayland protocol docs{% endblock %}</title>

    <link rel="stylesheet" href="{{base_url}}/main.css">
    {% block head %} {% endblock %}
  </head>
  <body class="black-70 flex sans-serif ph4-l">
    <div id="sidebar" class="w-20">
      <div class="fixed vh-100 overflow-y-auto w-20">
        <a href="{{base_url}}/" class="f4 link near-black dim lh-title db mt3">
          Home
        </a>
        {% block sidebar %}{% endblock %}
      </div>
    </div>

    <main id="content" class="mh4">
      {% block content %}{% endblock %}
    </main>

  </body>
</html>
