{# -*- engine:django -*- #}
{% extends "base.html" %}

{% block title %}Wayland protocol docs{% endblock %}

{% block content %}
  <h1 class="f1 lh-title">Wayland protocol docs</h1>
  <ul class="list pl0 lh-copy">
    {% for group in grouped_protocols %}
      <h2>{{group.0}}</h2> 
      {% for protocol in group.1 %}
        <li>
          <a href="{{ protocol.url }}" class="link blue underline-hover lh-copy">{{ protocol.name }}</a>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endblock %}
