{# -*- engine:django -*- #}
{% extends "base.html" %}

{% block title %}{{ protocol.name }}{% endblock %}

{% block sidebar %}
  <div class="ph2">
    {% include "protocol_index.html" %}
  </div>
{% endblock %}

{% block content %}
  <div class="ph2">
    <h1 class="f1 lh-title">{{ protocol.name }}</h1>
    <ul class="list pl0">
      {% for interface in protocol.interfaces %}
      <li class="mt4">
        <h2 class="f2 lh-copy hide-child relative flex items-baseline" id="{{ interface|interface_id }}">
          <a href="#{{ interface|interface_id }}" class="link dim black-70 child pr2 absolute left--2">#</a>
          {{ interface.name }}
        </h2>
        <div class="f6 lh-copy ws-pre-line code">{{ interface|desc_full }}</div>

        {% if interface.requests.len() != 0 %}
          <h3 class=" f5 lh-title" id="{{ interface|interface_requests_id }}">Requests</h3>
          <ul class="list pl0">
            {% for request in interface.requests %}
            <li class="mt3">
              <div class="flex items-baseline lh-title mb2 hide-child relative" id="{{ request|request_id(interface) }}">
                <a href="#{{ request|request_id(interface) }}" class="link dim black-70 child pr1 absolute left--1 hash-link-entry">#</a>
                <div class="f4">
                  {{ request.name }}
                </div>
                <div class="f5 ml2">
                  {{ request|desc_summary }}
                </div>
              </div>
              {{ request|format_request(interface.name)|safe}}
              <div class="f6 lh-copy ws-pre-line code">{{ request|desc_full }}</div>
            </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if interface.events.len() != 0 %}
          <h3 class=" f5 lh-title" id="{{ interface|interface_events_id }}">Events</h3>
          <ul class="list pl0">
            {% for event in interface.events %}
            <li class="mt3">
              <div class="flex items-baseline lh-title mb2 hide-child relative" id="{{ event|event_id(interface) }}">
                <a href="#{{ event|event_id(interface) }}" class="link dim black-70 child pr1 absolute left--1 hash-link-entry">#</a>
                <div class="f4">
                  {{ event.name }}
                </div>
                <div class="f5 ml2">
                  {{ event|desc_summary }}
                </div>
              </div>

              {% for arg in event.args %}
                <div class="f6 lh-copy code">
                  <span class="purple">{{ arg|event_arg }}</span> {{ arg.name }} {% if arg.summary.is_some() %}<span class="green">/* {{ arg.summary|unwrap }} */</span> {% endif %}
                </div>
              {% endfor %}

              <div class="f6 lh-copy ws-pre-line code mt3">{{ event|desc_full }}</div>
            </li>
            {% endfor %}
          </ul>

        {% endif %}

        {% if interface.enums.len() != 0 %}
          <h3 class=" f5 lh-title" id="{{ interface|interface_enums_id }}">Enums</h3>
          <ul class="list pl0">
            {% for enum_ in interface.enums %}
            <li class="mt3">
              <div class="flex items-baseline lh-title mb2 hide-child relative" id="{{ enum_|enum_id(interface) }}">
                <a href="#{{ enum_|enum_id(interface) }}" class="link dim black-70 child pr1 absolute left--1 hash-link-entry">#</a>
                <div class="f4">
                  {{ enum_.name }}
                </div>
                <div class="f5 ml2">
                  {{ enum_|desc_summary }}
                </div>
              </div>

              {% for entry in enum_.entries %}
                <div class="f6 lh-copy code">
                  {{ entry|enum_entry_name(enum_, interface) }} {% if entry.summary.is_some() %} <span class="green">/* {{ entry.summary|unwrap }} */</span> {% endif %}
                </div>
              {% endfor %}

              <div class="f6 lh-copy ws-pre-line code mt3">{{ enum_|desc_full }}</div>
            </li>
            {% endfor %}
          </ul>

        {% endif %}

      </li>
      {% endfor %}
    </ul>

    <h2 class="f4 lh-title">Copyright Info</h2>
    <div class="f7 lh-copy ws-pre-line code">{{ protocol.copyright|unwrap }}</div>
  </div>
{% endblock %}
