{# -*- engine:django -*- #}
{% extends "base.html" %}

{% block title %}{{ protocol.name }}{% endblock %}

{% block content %}
  <h1 class="f1 lh-title">{{ protocol.name }}</h1>
  <ul class="list pl0">
    {% for interface in protocol.interfaces %}
      <li>
        <div class="f2 lh-copy">
          {{ interface.name }}
        </div>
        <div class="f6 lh-copy ws-pre-line courier">{{ interface|desc_full }}</div>
        <ul class="list pl0">
          {% for request in interface.requests %}
            <li>
              <div class="f4 lh-title">
                {{ request.name }}
              </div>
              <div class="f5 lh-copy">
                {{ request|desc_summary }}
              </div>
              {{ request|format_request(interface.name)|safe}}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  <h2 class="f2 lh-title">Copyright Info</h2>
  <div class="f6 lh-copy ws-pre-line courier">{{ protocol.copyright|unwrap }}</div>
{% endblock %}
