{# -*- engine:django -*- #}
{% extends "base.html" %}

{% block title %}{{ protocol.name }}{% endblock %}

{% block content %}
  <div class="fl w-25 ph2">
    {% include "protocol_index.html" %}
  </div>
  <div class="fl w-75 ph2">
    <h1 class="f1 lh-title">{{ protocol.name }}</h1>
    <ul class="list pl0">
      {% for interface in protocol.interfaces %}
      <li class="mt4">
        <div class="f2 lh-copy" id="{{ interface|interface_id }}">
          {{ interface.name }}
        </div>
        <div class="f6 lh-copy ws-pre-line courier">{{ interface|desc_full }}</div>

        {% if interface.requests.len() != 0 %}
          <h3 class=" f5 lh-title" id="{{ interface|interface_requests_id }}">Requests</h3>
          <ul class="list pl0">
            {% for request in interface.requests %}
            <li class="mt3">
              <div class="flex items-center lh-title mb2" id="{{ request|request_id(interface) }}">
                <div class="f4">
                  {{ request.name }}
                </div>
                <div class="f5 ml2">
                  {{ request|desc_summary }}
                </div>
              </div>
              {{ request|format_request(interface.name)|safe}}
              <div class="f6 lh-copy ws-pre-line courier">{{ request|desc_full }}</div>
            </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if interface.events.len() != 0 %}
          <h3 class=" f5 lh-title" id="{{ interface|interface_events_id }}">Events</h3>
          <ul class="list pl0">
            {% for event in interface.events %}
            <li class="mt3">
              <div class="flex items-center lh-title mb2" id="{{ event|event_id(interface) }}">
                <div class="f4">
                  {{ event.name }}
                </div>
                <div class="f5 ml2">
                  {{ event|desc_summary }}
                </div>
              </div>

              <div class="f6 lh-copy ws-pre-line courier">{{ event|desc_full }}</div>
            </li>
            {% endfor %}
          </ul>

        {% endif %}

      </li>
      {% endfor %}
    </ul>

    <h2 class="f4 lh-title">Copyright Info</h2>
    <div class="f7 lh-copy ws-pre-line courier">{{ protocol.copyright|unwrap }}</div>
  </div>
{% endblock %}
